.places {
  width: 61.5rem;
  padding: 0 9.25rem 5.75rem;
}

@media screen and (max-width: 1024px) {
  .places {
    width: 58rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .places {
    width: 45rem;
    padding: 0 1.5rem 5.5rem;
  }
}

@media screen and (max-width: 320px) {
  .places {
    width: 100%;
    padding: 0 0 4rem;
  }
}
