.places {
  width: 100%;
  max-width: 61.5rem;
  padding: 0 0 5.75rem;
  margin-left: 9.25rem;
  margin-right: 9.25rem;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .places {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding: 0 1.5rem 5.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 415px) {
  .places {
    padding: 0 0 4rem;
  }
}
