.cover__subtitle {
  width: 20rem;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding-top: 2rem;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    width: 18rem;
    font-size: 14px;
    line-height: 1.143;
    padding-top: 1rem;
  }
}
