.places__place {
  width: 61.5rem;
  max-height: 41.75rem;
  margin-bottom: 5rem;
  display: flex;
}

.places__place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .places__place {
    width: 58rem;
    max-height: 45.5rem;
  }
}

@media screen and (max-width: 768px) {
  .places__place {
    width: 45rem;
    max-height: 41.375rem;
    margin-bottom: 4.5rem;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 320px) {
  .places__place {
    width: 100%;
    max-height: 69.813rem;
    margin-bottom: 3rem;
  }
}
