.lead__caption {
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 0.5rem;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    padding-left: 1rem;
  }
}
