.cover__title {
  max-width: 41rem;
  font-size: 72px;
  line-height: 1.056;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 415px) {
  .cover__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 18rem;
    font-size: 32px;
    line-height: 1.094;
  }
}
