@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__list/footer__list.css);

.footer {
  width: 74rem;
  height: 1.125rem;
  margin: 0 3rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 58rem;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 45rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    width: 10.5rem;
    height: 12.375rem;
    flex-direction: column;
    margin: 0 1rem 1.5rem;
  }
}
